.App {
  text-align: center;
}

.App-header {
  background-color: white;
  height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

.grid {
  border: 1px solid #282c34;
  max-width: 500px !important;
}
.region {
  border: 1px solid #282c34;
}
.cell {
  border: 1px solid #c1cfe9;
  font-size: 2rem;
  font-weight: 300;
  cursor: pointer;
}
