.App {
  text-align: center;
}

.App-header {
  background-color: white;
  height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--dark);
}

.grid {
  border: 1px solid var(--dark);
  max-width: 450px !important;
}

.region {
  border: 1px solid var(--dark);
}

.cell {
  border: 1px solid var(--light);
  color: var(--dark);
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
  height: 50px !important;
}

.navbar-brand {
  font-size: 2.5rem !important;
  font-weight: 500;
  color: var(--dark) !important;
}

/* .cell:nth-child(odd) {
  background-color: var(--bg-dark);
}

.cell:nth-child(even) {
  background-color: var(--light);
} */